<div class="container mt-5">
    <h2>Sobre o Lista Orgânica</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <p>
      Confira o código do nosso projeto no GitHub:
    </p>
    <ul class="list-unstyled">
      <li>
        <a href="https://github.com/leoegito/listaOrganica" target="_blank" class="github-link">
          <i class="fa fa-github"></i> Backend - Lista Orgânica
        </a>
      </li>
      <li>
        <a href="https://github.com/leoegito/front-end-listaOrganica-Angular" target="_blank" class="github-link">
          <i class="fa fa-github"></i> Frontend - Lista Orgânica
        </a>
      </li>
    </ul>
  </div>
  