
   <div class="container mt-4">
    <h1>Produtos Disponíveis</h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Pesquisar Produto" [(ngModel)]="searchQuery" (input)="searchProducts()">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of filteredProducts; let i = index" class="product-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ product.name }}</strong>
          </div>
          <button class="icon-button" (click)="editProductPrice(i)">
            <i class="fa fa-edit"></i>
          </button>
        </div>
        <div>
          <span>{{ product.description }}</span>
        </div>
        <div class="product-prices mt-2">
          <span class="badge bg-primary me-2">Preço Usuário: {{ product.userPrice | currency:'BRL' }}</span>
          <span class="badge bg-success">Valor Mediano: {{ product.median | currency:'BRL' }}</span>
        </div>
        <div *ngIf="editingProductIndex === i" class="edit-price-container mt-2">
          <div class="input-group mb-2">
            <input type="number" class="form-control" [(ngModel)]="newProductPrice" placeholder="Novo Preço" required (keydown.enter)="saveProductPrice()">
          </div>
          <div class="d-flex justify-content-start mt-2">
            <button class="icon-button" (click)="saveProductPrice()">
              <i class="fa fa-check"></i>
            </button>
            <span class="me-2"></span>
            <button class="icon-button" (click)="cancelEditPrice()">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngIf="filteredProducts.length === 0">
        <span>Nenhum produto encontrado.</span>
        <button class="icon-button mt-2" (click)="showNewProductForm = true">
          <i class="fa fa-plus"></i> Cadastrar Novo Produto
        </button>
      </li>
    </ul>
    <div *ngIf="showNewProductForm" class="mt-4">
      <h3>Cadastrar Novo Produto</h3>
      <form (ngSubmit)="registerNewProduct()">
        <div class="mb-3">
          <label for="productName" class="form-label">Nome</label>
          <input type="text" id="productName" class="form-control" [(ngModel)]="newProductName" name="productName" required>
        </div>
        <div class="mb-3">
          <label for="productDescription" class="form-label">Descrição</label>
          <input type="text" id="productDescription" class="form-control" [(ngModel)]="newProductDescription" name="productDescription" required>
        </div>
        <div class="mb-3">
          <label for="productPrice" class="form-label">Preço</label>
          <input type="number" step="0.01" id="productPrice" class="form-control" [(ngModel)]="newProductPrice" name="productPrice">
        </div>
        <div class="d-flex justify-content-start mt-2">
          <button type="submit" class="btn btn-primary me-2">
            <i class="fa fa-check"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancelNewProductForm()">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  