
<nav class="navbar navbar-expand-lg" style="background-image: url('/assets/images/navbar-fundo.png'); background-size: cover;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/organicIcon.jpg" alt="App Icon" class="rounded-circle icon-with-shadow" width="80" height="80">
      <span class="brand-text">Lista Orgânica</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">Principal</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated() && hasRole('ADMIN')">
          <a class="nav-link" [routerLink]="['/admin']">Admin</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated() && hasRole('SELLER')">
          <a class="nav-link" [routerLink]="['/seller-home']">Vendedor</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
<router-outlet></router-outlet>

<div class="background-section">
  <img src="assets/images/ecologiconatural.png" alt="Ecológico e Natural" class="background-section-image">
</div>
</div>

